In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
fbs = pd.read_csv('FoodBalanceSheets.csv')

In [5]:
# What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

fbs.loc[(fbs.Item == 'Animal fats')].groupby('Item')['Y2014','Y2017'].sum()

C:\Users\PATIEN~1\AppData\Local\Temp/ipykernel_4628/1734419991.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fbs.loc[(fbs.Item == 'Animal fats')].groupby('Item')['Y2014','Y2017'].sum()

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

In [7]:
#What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
print(fbs['Y2015'].mean())
print(fbs['Y2015'].std())

135.23596649549236
1603.4039839423301

In [19]:
#What is the total number and percentage of missing data in 2016 to 2 decimal 
print(fbs['Y2016'].isnull().sum())
print((fbs['Y2016'].isnull().sum()/fbs.isnull().sum().sum()) * 100)

1535
20.160231153138955

In [20]:
#Which year had the highest correlation with ‘Element Code’? 
fbs.groupby('Element Code')['Y2014','Y2015','Y2016','Y2017','Y2018'].corr().sum()

C:\Users\PATIEN~1\AppData\Local\Temp/ipykernel_4628/3304934196.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fbs.groupby('Element Code')['Y2014','Y2015','Y2016','Y2017','Y2018'].corr().sum()

Y2014    84.216869
Y2015    83.535900
Y2016    85.115735
Y2017    84.965204
Y2018    84.498238
dtype: float64

In [21]:
#What year has the highest sum of Import Quantity?
fbs.loc[(fbs.Element == 'Import Quantity')].groupby('Element')['Y2014','Y2015','Y2017','Y2018'].max()

C:\Users\PATIEN~1\AppData\Local\Temp/ipykernel_4628/2854735033.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  fbs.loc[(fbs.Element == 'Import Quantity')].groupby('Element')['Y2014','Y2015','Y2017','Y2018'].max()

                   Y2014    Y2015    Y2017    Y2018
Element
Import Quantity  19582.0  18824.0  18627.0  18036.0

In [22]:
#What is the total number of the sum of Production in 2014?
fbs.loc[(fbs.Element == 'Production')].groupby('Element')['Y2014'].sum()

Element
Production    1931287.75
Name: Y2014, dtype: float64

In [23]:
#Which of these elements had the highest sum in 2018?

fbs.groupby('Element')['Y2018'].sum().sort_values().nlargest(1)

Element
Domestic supply quantity    2161192.1
Name: Y2018, dtype: float64

In [25]:
#Which of these elements had the 3rd lowest sum in 2018?
fbs.groupby('Element')['Y2018'].sum().sort_values().nsmallest(3)

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

In [26]:
#What is the total Import Quantity in Algeria in 2018?
a = pd.merge(fbs.loc[(fbs.Element == 'Import Quantity')] ,fbs.loc[(fbs.Area == 'Algeria')])
a.groupby(['Area','Element'])['Y2018'].sum()

Area     Element
Algeria  Import Quantity    36238.29
Name: Y2018, dtype: float64

In [33]:
#What is the total number of unique countries in the dataset?
len(fbs['Area'].unique())

49